---
import CaretUp from "@tabler/icons/filled/caret-up.svg";
import type { HTMLAttributes } from "astro/types";

import { tooltipCaret, tooltipContent } from "./variants";

type Props = HTMLAttributes<"div"> & {
  /**
   * Side of the tooltip
   * @default top
   */
  side?: "top" | "right" | "bottom" | "left";
  /**
   * Alignment of the tooltip
   * @default center
   */
  align?: "start" | "center" | "end";
  /**
   * Offset distance in pixels
   * @default 8
   */
  sideOffset?: number;
  /**
   * Prevent the tooltip from colliding with other elements
   * @default true
   */
  avoidCollisions?: boolean;
  /**
   * Open and close animation duration in milliseconds
   * @default 150
   */
  animationDuration?: number;
};

const {
  side = "top",
  align = "center",
  sideOffset = 8,
  avoidCollisions = true,
  animationDuration = 150,
  class: className,
} = Astro.props;
---

<div
  class={tooltipContent({ class: className })}
  data-state="closed"
  data-side={side}
  data-align={align}
  data-side-offset={sideOffset}
  {...avoidCollisions && { "data-avoid-collisions": "" }}
  role="tooltip"
  style={{ animationDuration: `${animationDuration}ms` }}
  data-slot="tooltip-content"
>
  <slot> My tooltip! </slot>
  <CaretUp class={tooltipCaret()} />
</div>
